@import url('../resources/main.css');
table{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 20px;
  }
  .headings{
    font-size:clamp(18px,2.1vw,27px) ;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
  
  }
  .heading{
    font-size:clamp(18px,2.1vw,32px) ;
  
  
  }
  .line{
    width: 100%;
    padding: 2px;
    height: 1px;
    background: #104565;
    margin-top: 3px;
  }
  tr{
    background: var(--light_primary);
    border-radius: 2px;
  }
  th{
    background: var(--primary-color);
  border: 1px solid #121212;
  padding: 10px;
  font-size: clamp(18px,2em,20px);
  color: var(--text-color);
  font-weight: 700;
  
  }
  td{
  
  border: 1px solid #121212;
  padding: 10px;

  }
  .dept_text{
    text-align: center;
    font-size: clamp(18px,2em,38px);
    margin-top: 2rem;
    margin-bottom: 2rem;
color: var(--dark-color);
font-weight: 700;
  }

  @media screen and (max-width:768px) {
  .main_container{
    overflow-x: scroll;
  }
  .dept_tex{
    font-size: 15px;
  }
  .tablesoffac{
    margin-top: 3rem;
  }
  .non_teaching{
    margin-top: 6rem;
  }
  }