@import url('./main.css');
/* hero section */
#hero_main_content {
    height: 70vh;
    display: flex;
    align-items: end;
    justify-content: start;

}

.hero_section_content {
    background: #1292e2ab;
    padding: 3rem;
    border-radius: 5px;
    width: 980px;
    z-index: 1;
    height: 160px;
    overflow: hidden;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.hero_section_content h2 {
    font-size: clamp(25px, 2em, 30px);
    color: var(--text-color);
    font-weight: 700;

}

.hero_section_content p {
    font-size: clamp(15px, 2em, 18px);
    color: var(--text-color);
    margin-top: 1rem;
}

.custom_swiper-button-next,
.custom_swiper-button-prev {
    color: var(--text-color) !important;
    width: 80px;
    height: 80px;
    padding: 2rem;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.7);
    transition: 0.2s;
}

.custom_swiper-button-next:hover,
.custom_swiper-button-prev:hover {
    transform: scale(0.8);
}


/* about us */
.institute-about{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 4rem;
    gap: 2rem;
}
.content-main h2{
font-size: clamp(20px,2vw,30px);
font-weight: 700;
color: var(--dark-color);
text-decoration: underline;
padding: 10px;
}
.vision-content p{
margin-top: 1rem;
line-height: 1.5rem;
}
.mission-content ul {
    margin-top: 1rem;
}
.mission-content ul li{
    line-height: 1.5rem;
    list-style:circle;
    margin-bottom: 5px;
}
.video-section iframe{
border-radius: 5px;
}


/* news and updates */
#news_section{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 4rem;
    height: 480px;
}
.news_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: 480px;
  }
  .marquee-wrapper {
    display: flex;
    gap: 30px; 
    width: max-content;
    animation: marquee 25s linear infinite;
  }

  .new_updates_main_content  {
    flex: 0 0 auto;
    width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
background: var(--light_primary);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .new_updates_main_content img {
    width:340px; 
    height: 280px;
    object-fit: cover;
    border-radius: 5px;

  }
  .new_updates_content{
    margin-top: 1rem;
    overflow: hidden;
  }
  .new_updates_content a{
    color: var(--dark-color);
   font-size: clamp(15px,2em,18px);
  }
  .news_section_title{
    font-size: clamp(20px,2em,25px);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    color: var(--dark-color);
  }

  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  /* facts section */

  
.fact-section {
    background-position: center center;
    position: relative;
    padding: 3rem;
  }
  
  .fact-section:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--dark-color);
    border-bottom: 1px solid var(--text-color);
  }
  
  .fact-section .container {
    position: relative;
    z-index: 1;
  }
  
  .fact {
    text-align: center;
  }
  
  .fact-icon {
    font-size: 48px;
    color: #fff;
    width: 50px;
    display: inline-block;
  }
  
  .fact-text {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
  }
  
  .fact-text h2 {
    color: #f6783a;
    font-weight: 400;
    font-size: clamp(18px,2em,22px);
    margin-bottom: 5px;
  }
  
  .fact-text p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
  }
  