@import url('./main.css');

/* navbar */
.main_top_header {
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid var(--dark-color);
    border-top: 5px solid var(--primary-color);
    position: relative;
}
.college_main_logo{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;

}
.karmarajar_logo img{ 
    width:100px;
}
.naac_logo img{
    width:130px;
}
.college_logos{
    display:flex;
    justify-content:center;
    gap:2rem;
}
.navbar_head_text{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.navbar_head_text h2{
    font-size: clamp(22px,3vw,28px);
    font-weight: 700;
    text-transform: uppercase;

}
.navbar_head_text h2:nth-child(1){
    color: var(--dark-color);


}
.navbar_head_text h2:nth-child(2){
    font-size: clamp(22px,3vw,32px);

}
.college_name_head{
    margin-top: 2rem;
    color: var(--primary-color);
}
.college_logo img{
    width: 180px;
}
.college_logo{
    margin-left: 2rem;
}

.alerts_section{
    position: absolute;
right: 0;
bottom: 0;
background: var(--primary-color);
border-top-left-radius: 5px;
}
.alerts_section button{
    color: var(--text-color);
}
.alerts_section button:hover{
    color: var(--dark-color);

}


/* social media */
.social_media {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary-color);
    padding: 10px;
    border-bottom-left-radius: 50px;
    padding-left: 2rem;

    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.top-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.top-social a {
    font-size: clamp(15px, 1em, 18px);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* second navbar */
#navbar {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px;



}

#navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}

#navbar ul li,
#navbar ul li button {
    font-size: clamp(15px, 2vw, 18px);
    font-family: 'Poppins', 'Roboto', sans-serif;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li a,
#navbar ul li button {
    color: var(--dark-color);
}
#navbar ul li button  a{
    color: var(--dark-color);
}
#navbar ul li button:focus {
    color: var(--text-color);

}

.custom_dropdown {
    background: none;

}

.custom_dropdown:focus {
    background: var(--primary-color);
    box-shadow: none;
}

.custome-dropdown-menu a {
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.5s;
}

.custome-dropdown-menu a:hover {
    background: var(--primary-color);
}


/* footer */
.footer_main {
    margin-top: 3rem;
    background: url('.././../img/main/college_footer.png') no-repeat center/cover;
    padding: 3rem;
    position: relative;
    z-index: 1;
}

.footer_main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--light_primary);
    z-index: -1;
}

.main_footer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer_section {
    flex-flow: 1;
}

.footer_sec_1 p {
    text-align: justify;
    line-height: 1.3rem;
    color: var(--text-color);

}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.footer-social div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    transition: 0.4s;

}

.footer-social div a:hover {
    background: var(--primary-color);
    transform: scale(1.05);
}

.footer_section h2 {
    font-size: clamp(20px, 2em, 22px);
    margin-bottom: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
}

.usefull_links_list {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.usefull_links_list li,
.footer_sec_3 li {
    margin-bottom: 1rem;

}

.usefull_links_list li a {
    font-size: clamp(15px, 2em, 18px);
    color: var(--text-color);
}

.footer_sec_3 ul li a {
    font-size: clamp(15px, 2em, 18px);
    color: var(--text-color);
}

.contact-section ul {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.copy_right_section {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

#mobile_navigation_bar{
    display: none;
}

.counselling_code{
    position: absolute;
right: 0;
bottom: 0;
background: var(--primary-color);
z-index: 99;
padding: 10px;
color: var(--text-color);
font-size: clamp(15px,2em,18px);
}
.mobile_counselling_code{
    display: none;
}





@media screen and (max-width:768px) {
    /* footer */
    .main_footer {
      grid-template-columns: repeat(1,1fr);
    }
    /* navbar */
    #navbar,.main_top_header,.alerts_section ,.counselling_code{
        display: none;
    }
    .mobile_counselling_code{
        display: block;
    }

    #mobile_navigation_bar{
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 88;
        border-bottom: 1px solid var(--text-color);
        background: url('.././../img/main/college_footer.png') no-repeat center/cover;
    }
    .mobile_navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .college_logo img{
        width: 100px;
    }
    .nav_switch{
        width: 40px;
        height: 40px;
        z-index: 99;
        background: var(--primary-color);
        color: var(--text-color);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigations_lists{
        position: absolute;
    height: 100%;
        width: 100%;
        background: var(--text-color);
        transition: 0.4s ease-in-out;
        opacity: 0;
        transform: translateY(-50px);
        visibility: hidden;

    }
    .navigations_lists.active{
        display: block;
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        

    }
    .navigations_lists ul{
        background: var(--text-color);
    }
    .navigations_lists button{
        margin-left: -3px;
    }
    .navigations_lists button a{
        color: var(--dark-color);
    }
    .mobile_top_social{
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4rem;
        background: var(--primary-color);
        padding: 1rem;
    }
    .mobile_top_social div{
        width: 40px;
        height: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
        border: 1px solid var(--text-color);
    }
    .mobile_top_social div a{
        color: var(--text-color);
    }
  }
