table{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 20px;
  
  }
  .headings{
    font-size:clamp(18px,2.1vw,27px) ;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
  
  }
  .heading{
    font-size:clamp(18px,2.1vw,32px) ;
  
  
  }
  .line{
    width: 100%;
    padding: 2px;
    height: 1px;
    background: #104565;
    margin-top: 3px;
  }
  tr{
    background: #ededed;
    border-radius: 2px;
  }
  th{
    background: #d2d2d2;
  border: 1px solid #121212;
  padding: 10px;
  
  }
  td{
  
  border: 1px solid #121212;
  padding: 10px;
  }
  h2{
    text-align: center;
  }